.add{
  
    padding-left :  40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    background-color: green;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
}
.todo-grid,
.todo-input
{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: stretch;
    
}
.delete{
    padding-left :  15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    background-color: maroon;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
  

}
